<nav class="uk-navbar-container nav-section" uk-navbar>
        <ul class="uk-navbar-nav">
            <li><a class="nav-text" href="{% url 'products' %}">All Products</a></li>
            <li><a class="nav-text" href="#">New In</a></li>
            <li>
                <a class="nav-text" href="#">Styles</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav nav-text">
                        <li><a href="#">Pale</a></li>
                        <li><a href="#">IPA</a></li>
                        <li><a href="#">Stout</a></li>
                        <li><a href="#">Sour</a></li>
                        <li><a href="#">Saison</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a class="nav-text" href="#">Breweries</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav nav-text">
                        <li><a href="#">Northern Monk</a></li>
                        <li><a href="#">North Brew</a></li>
                        <li><a href="#">Deya</a></li>
                        <li><a href="#">Verdant</a></li>
                        <li><a href="#">Cloudwater</a></li>
                        <li><a href="#">Track</a></li>
                        <li><a href="#">Cantillon</a></li>
                        <li><a href="#">Beak</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
